<div class="hero">
    <div class="hero__image">
        <img src="" alt="">
    </div>
    <div class="hero__content">
        <h1>title {{hero.title}}</h1>
        <div>Hero content</div>
    </div>
</div>